language: node_js
node_js:
  - "4.2"
  - "0.12"
  - "0.11"
  - "0.10"
matrix:
  allow_failures:
    - node_js: "0.11"

# Set up `apt` for `canvassmith`, based on `node-canvas` dependencies
# https://github.com/Automattic/node-canvas/blob/v1.3.0/.travis.yml#L14-L19
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - libcairo2-dev
      - libjpeg8-dev
      - libpango1.0-dev
      - libgif-dev
      - build-essential
      - g++-4.8
env:
  - CXX=g++-4.8
sudo: false

before_install:
  # Upgrade npm to avoid semver issues
  - curl --location http://rawgit.com/twolfson/fix-travis-ci/master/lib/install.sh | bash -s

notifications:
  email: false
