!!!
html
  head
    title Hey
  body
    canvas
    script
      console.log(2);
    img(src="../../src-test/test_sprites/sprite1.png")
    img(src="../../src-test/test_sprites/sprite2.jpg")
    img(src="../../src-test/test_sprites/sprite3.png")